<footer class="py-5 border-top border-secondary">
    <div class="container">
        <div class="copyright-section row align-items-center">
            <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                <p class="m-0 opacity-75">&copy; 2026 Vishwajeet Singh. Built with JS & Bootstrap</p>
            </div>
            <div class="col-md-6 text-center text-md-end d-flex justify-content-center justify-content-md-end gap-4">
                <a href="#" class="text-white fs-5"><i class="bi bi-linkedin"></i></a>
                <a href="#" class="text-white fs-5"><i class="bi bi-instagram"></i></a>
                <a href="#" class="text-white fs-5"><i class="bi bi-facebook"></i></a>
                <a href="#" class="text-white fs-5"><i class="bi bi-twitter-x"></i></a>
                <a href="#" class="text-white fs-5"><i class="bi bi-wordpress"></i></a>
            </div>
        </div>
    </div>
</footer>